@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  height: 100vh;
}
body {
  background-color: #0d192b;
}
.big-text {
  font-family: "Barlow Semi Condensed";
  font-weight: 600;
}
.medium-text {
  font-family: "Barlow Semi Condensed";
  font-weigth: 400;
}
.small-text {
  font-family: "Barlow Semi Condensed";
  font-weight: 300;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  transition: all 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
}

.overlay-active {
  visibility: visible;
  opacity: 1;
}
